@import 'palette.css'; /* Import the color palette */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: var(--secondary-color); /* Use palette color */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.profile-section img {
  width: 200px;
  max-width: 200px;
  height: 200px;
  border-radius: 80%;
  border: 2px solid var(--primary-color); /* Use palette color */
  object-fit: cover;
  margin-bottom: 5px;
}

.profile-section h1 {
  margin-top: 0;
  font-size: 32px;
  color: var(--primary-color); /* Use palette color */
}

.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0px;
  width: 100%;
}

.links-container a {
  display: inline-block;
  padding: 8px 20px;
  margin: 5px;
  border: 2px solid var(--primary-color); /* Use palette color */
  text-decoration: none;
  color: var(--primary-color); /* Use palette color */
  flex: 1;
  min-width: 0;
  text-align: center;
  max-width: 300px;
}

.links-container a:hover {
  background-color: var(--secondary-color); /* Use palette color */
}
