body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

img {
  height: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 0;
  aspect-ratio:1/1;
  border-radius: 50%;
}

h1 {
  height: 10vh;
  max-width:100vw;
  align-content: center;
  font-size: 8vh;
}

ul {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

li {
  list-style-type: none;
  font-size: 4vh;
}

